<!DOCTYPE html>
<html>
  <head>
    <title>StockY</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://kit.fontawesome.com/1e907e69e8.js" crossorigin="anonymous"></script>
    <meta prefix="og: http://ogp.me/ns" property='og:image' content='https://www.richardlu.dev/images/screenshots/s.png' />
    <meta prefix="og: http://ogp.me/ns" property='og:description' content='Clone of popular shoe and clothing exchange StockX'>
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
